In [5]:
import matplotlib.pylab as plt
import pandas as pd
import sklearn.metrics
import sklearn.neighbors
df = pd.read_csv('nces-ed-attainment.csv')
df.head()

,Year,Sex,Min degree,Total,White,Black,Hispanic,Asian,Pacific Islander,American Indian/Alaska Native,Two or more races
0,1920,A,high school,---,22.0,6.3,---,---,---,---,---
1,1940,A,high school,38.1,41.2,12.3,---,---,---,---,---
2,1950,A,high school,52.8,56.3,23.6,---,---,---,---,---
3,1960,A,high school,60.7,63.7,38.6,---,---,---,---,---
4,1970,A,high school,75.4,77.8,58.4,---,---,---,---,---

In [6]:
df2 =df.replace('---','NA')
df2.info

<bound method DataFrame.info of      Year Sex   Min degree Total  White  Black Hispanic Asian  \
0    1920   A  high school    NA   22.0    6.3       NA    NA
1    1940   A  high school  38.1   41.2   12.3       NA    NA
2    1950   A  high school  52.8   56.3   23.6       NA    NA
3    1960   A  high school  60.7   63.7   38.6       NA    NA
4    1970   A  high school  75.4   77.8   58.4       NA    NA
..    ...  ..          ...   ...    ...    ...      ...   ...
209  2014   F     master's   9.3   11.1    5.0      3.6  20.8
210  2015   F     master's  10.4   12.0    7.2      4.1  23.2
211  2016   F     master's  11.2   12.3    6.3      6.3  28.8
212  2017   F     master's  10.5   11.8    6.8      5.0  25.8
213  2018   F     master's  10.7   12.6    6.2      3.8  29.9

    Pacific Islander American Indian/Alaska Native Two or more races
0                 NA                            NA                NA
1                 NA                            NA                NA
2                 NA                            NA                NA
3                 NA                            NA                NA
4                 NA                            NA                NA
..               ...                           ...               ...
209               NA                            NA               7.5
210               NA                            NA              10.2
211               NA                            NA               8.2
212               NA                            NA               5.4
213               NA                            NA                NA

[214 rows x 11 columns]>

In [35]:
start = int(input('Please input the start year:'))

Please input the start year:1920

In [39]:
end = int(input('Please input the end year:'))

Please input the end year:2020

In [12]:
sex = input('Please input the sex, A, F or M:')

Please input the sex, A, F or M:F

In [15]:
start_day = pd.to_datetime(start)
end_day = pd.to_datetime(end)

In [43]:
df3 = df2[df2['Sex'] == sex]

In [44]:
df4 = df3[df3['Year'] >= start]
df5 = df4[df4['Year'] < end]
df5.info

<bound method DataFrame.info of      Year Sex   Min degree Total  White  Black Hispanic Asian  \
146  1980   F  high school  85.5   89.2   78.3     58.9    NA
147  1990   F  high school  87.0   91.7   82.0     59.9    NA
148  1995   F  high school  87.4   93.0   85.3     58.7    NA
149  2000   F  high school  89.4   95.2   86.2     66.4    NA
150  2005   F  high school  87.4   93.8   87.3     63.4  94.4
..    ...  ..          ...   ...    ...    ...      ...   ...
209  2014   F     master's   9.3   11.1    5.0      3.6  20.8
210  2015   F     master's  10.4   12.0    7.2      4.1  23.2
211  2016   F     master's  11.2   12.3    6.3      6.3  28.8
212  2017   F     master's  10.5   11.8    6.8      5.0  25.8
213  2018   F     master's  10.7   12.6    6.2      3.8  29.9

    Pacific Islander American Indian/Alaska Native Two or more races
146               NA                            NA                NA
147               NA                            NA                NA
148               NA                          79.6                NA
149               NA                          86.3                NA
150               NA                          87.1              94.2
..               ...                           ...               ...
209               NA                            NA               7.5
210               NA                            NA              10.2
211               NA                            NA               8.2
212               NA                            NA               5.4
213               NA                            NA                NA

[68 rows x 11 columns]>

In [46]:
year = int(input('please enter a specific year:'))
df6 = df2[df2['Year'] == year]

please enter a specific year:2000

In [57]:
df7 = df6[df6['Min degree'] == "bachelor's"]
df7.head(10)

,Year,Sex,Min degree,Total,White,Black,Hispanic,Asian,Pacific Islander,American Indian/Alaska Native,Two or more races
47,2000,A,bachelor's,29.1,34.0,17.8,9.7,NA,NA,15.9,NA
115,2000,M,bachelor's,27.9,32.3,18.4,8.3,NA,NA,NA,NA
183,2000,F,bachelor's,30.1,35.8,17.4,11.0,NA,NA,19.1,NA

In [75]:
men = df7[df7['Sex'] == 'M'].shape[0]
women = df7[df7['Sex'] == 'F'].shape[0]
total = df7.shape[0]
men = men / total * 100
women = women / total * 100
re = (men, women)
print(re)

(33.33333333333333, 33.33333333333333)

In [88]:
start = 2000
end = 2010
df_sel = df2[df2['Year'] >= 2000]
df_sel = df_sel[df_sel['Year'] <= 2010]

high = df_sel[df_sel['Min degree'] == 'high school'].shape[0]
master = df_sel[df_sel['Min degree'] == "master's"].shape[0]
associate = df_sel[df_sel['Min degree'] == "associate's"].shape[0]
bachelor = df_sel[df_sel['Min degree'] == "bachelor's"].shape[0]
degree = [high, master, associate, bachelor]
degree.sort
N1 = degree[-1]
N2 = degree[-2]
n1_mean = N1 / sum(degree) * 100
n2_mean = N2 / sum(degree) * 100
re1 = ('highschool', n1_mean)
re2 = ('bachelor', n2_mean)
print(re1, re2)

('highschool', 25.0) ('bachelor', 25.0)