In [1]:
import pandas_datareader.fred as fred
import pandas as pd  
#pd.core.common.is_list_like = pd.api.types.is_list_like
from pandas_datareader import data as pdr
#import fix_yahoo_finance as yf 
import yfinance as yf 
yf.pdr_override() 
import datetime 

import warnings
warnings.filterwarnings("ignore")

In [2]:
def getDataBatch(tickers, startdate, enddate):
  def getData(ticker):
    return (pdr.get_data_yahoo(ticker, start=startdate, end=enddate))
  datas = map(getData, tickers)
  return(pd.concat(datas, keys=tickers, names=['Ticker', 'Date']))

In [9]:
# 1.1
start_dt = datetime.datetime(2008, 12, 31)
end_dt = datetime.datetime(2018, 12, 31)
SP500 = pdr.get_data_yahoo('^GSPC', start=start_dt, end=end_dt)
ret_Stock = SP500['Adj Close'].pct_change().dropna()
tickers = ['AAPL','AMZN','GS']
stock_data = getDataBatch(tickers, start_dt, end_dt)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                         Open        High         Low       Close   Adj Close  \
Ticker Date
AAPL   2008-12-31    3.070357    3.133571    3.047857    3.048214    2.594391
       2009-01-02    3.067143    3.251429    3.041429    3.241071    2.758535
       2009-01-05    3.327500    3.435000    3.311071    3.377857    2.874956
       2009-01-06    3.426786    3.470357    3.299643    3.322143    2.827537
       2009-01-07    3.278929    3.303571    3.223571    3.250357    2.766438
...                       ...         ...         ...         ...         ...
GS     2018-12-21  168.250000  169.630005  159.419998  160.050003  146.619019
       2018-12-24  159.000000  160.000000  154.309998  156.350006  143.229492
       2018-12-26  157.000000  163.110001  151.699997  162.929993  149.257324
       2018-12-27  160.119995  165.410004  159.020004  165.410004  151.529205
       2018-12-28  165.639999  165.949997  162.020004  163.029999  149.348938

                       Volume
Ticker Date
AAPL   2008-12-31   607541200
       2009-01-02   746015200
       2009-01-05  1181608400
       2009-01-06  1289310400
       2009-01-07   753048800
...                       ...
GS     2018-12-21     8960000
       2018-12-24     3783500
       2018-12-26     7054700
       2018-12-27     4973000
       2018-12-28     4110500

[7548 rows x 6 columns]

In [11]:
daily_close_px = stock_data.reset_index().pivot(index='Date', columns='Ticker', values='Adj Close')
daily_close_px = daily_close_px.assign(SP500 = SP500['Adj Close'])
daily_close_px

Ticker           AAPL       AMZN          GS        SP500
Date
2008-12-31   2.594391   2.564000   67.842339   903.250000
2009-01-02   2.758535   2.718000   69.747581   931.799988
2009-01-05   2.874956   2.703000   71.371529   927.450012
2009-01-06   2.827537   2.868000   71.315231   934.700012
2009-01-07   2.766438   2.810000   67.930809   906.650024
...               ...        ...         ...          ...
2018-12-21  36.314777  68.872498  146.619019  2416.620117
2018-12-24  35.375179  67.197998  143.229492  2351.100098
2018-12-26  37.866348  73.544998  149.257324  2467.699951
2018-12-27  37.620590  73.082001  151.529205  2488.830078
2018-12-28  37.639889  73.901001  149.348938  2485.739990

[2516 rows x 4 columns]

In [12]:
daily_close_px.to_csv('PriceData.csv')